
.last-products {
	border: 1px solid #d3d3d3;
	margin: 12px 0 60px;
	position: relative;
}

.last-products .products article {
	border-top: 0;
	border-bottom: 0;
	height: 403px;
}

.last-products .bx-next:after {
	content: "";
	position: absolute;
	right: 0;
	margin: 11px 17px;
	top: 0;
	background: url(../../assets/images/ico_arrows.png) no-repeat 100% 0;
	width: 8px;
	height: 16px;
	display: block;
}

.last-products .bx-next {
	position: absolute;
	top: 16px;
	right: 17px;
	width: 101px;
	height: 40px;
	display: block;
	text-indent: -999em;
	border: 1px solid #d3d3d3;
}

.last-products .bx-prev:after {
	content: "";
	position: absolute;
	left: 0;
	margin: 11px 17px;
	top: 0;
	background: url(../../assets/images/ico_arrows.png) no-repeat;
	width: 8px;
	height: 16px;
	display: block;
}

.last-products .bx-prev {
	position: absolute;
	top: 16px;
	right: 134px;
	width: 101px;
	height: 40px;
	display: block;
	text-indent: -999em;
	border: 1px solid #d3d3d3;
}

.last-products .bx-prev:hover, .last-products .bx-next:hover{
	background: #d3d3d3;
	color: #fff;
	text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.last-products h2 {
	color: #939597;
	border-bottom: 1px solid #d3d3d3;
	font-size: 24px;
	font-family: "Novecentowide";
	font-weight: 200;
	padding: 21px 30px
}

