/* Header
------------------------------------------------------------------------------*/

#header .container {
	height: 93px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dcdcdc;
}

#header .right-links {
	float: right;
	padding: 13px 0 0;
	font-family: "Novecentowide";
}

#header .right-links span {
	float: left;
	width: 20px;
	height: 20px;
	margin: 5px 12px 0 0;
	background: url(../../assets/images/ico_header.png) no-repeat;
}

#header .right-links span.ico-account {
	background-position: -20px 0;
}

#header .right-links span.ico-signout {
	background-position: -40px 0;
}

#header .right-links li {
	float: left;
	color: #656567;
	font-weight: 500;
	padding-left: 37px;
	font-size: 12px;
}

#header .right-links a {
	color: #656567;
}

#logo {
	width: 197px;
	height: 52px;
	display: block;
	float: left;
	cursor: pointer;
	text-indent: -9999em;
	background: url(../../assets/images/logo.png) no-repeat;
}